.customers {
  display: flex;
  flex-direction: column;

  @include for-large-up {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 106px 0px;
    align-items: center;
    flex-direction: row;
  }

  &__row {
    display: flex;
    @include for-large-up {
      flex: 1;
      justify-content: space-around;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 107px;
    height: 94px;
    border-bottom: 1px solid #00000026;
    border-right: 1px solid #00000026;
    flex: 1;

    &:last-child {
      border-right: none;
    }
    @include for-large-up {
      border: none;
    }
  }
  &__logo {
    filter: brightness(0);
    max-width: 80%;
  }
}

.bottom-customers {
  padding-bottom: 76px;
}
