.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 15px;
  background-color: $color-light;

  @include for-large-up {
    flex-direction: row;
    padding-top: 73px;
    padding-bottom: 72px;
    align-items: flex-start;
  }
  &__deteils {
    max-width: 555px;
  }

  &__illustration {
    max-width: 100%;
    margin: auto;

    @include for-large-up {
      margin: 0;
      max-width: 269px;
      margin-right: 121px;
    }
  }

  &__title {
    margin: 0;
    margin-top: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.25px;

    @include for-large-up {
      text-align: left;
    }
  }
  &__text {
    margin: 0;
    margin-top: 18px;
    font-size: 22px;
    line-height: 32px;
  }
  &__form {
    @include for-large-up {
      display: flex;
      margin-top: 26px;
    }
  }
  &__email {
    height: 48px;
    margin-top: 40px;
    font-size: 18px;
    line-height: 13px;
    text-align: center;
    background: #ffffff;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 2px;
    width: 100%;

    @include for-large-up {
      flex-grow: 1;
      margin: 0;
      margin-right: 10px;
    }

    &::placeholder {
      color: #2b292d;
    }
  }
  &__button {
    margin-top: 12px;

    @include for-large-down {
      width: 100%;
    }

    @include for-large-up {
      margin: 0;
      flex-shrink: 0;
    }
  }
  &__terms {
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
    color: $text-color-light-grey;
  }
  &__terms-link {
    color: #3142c6;
  }
}
